.idea/
target/
dist/
src/main/javascript/.DS_STORE
src/main/javascript/Thumbs.db
src/main/javascript/.vscode/*
src/main/javascript/node_modules/
src/main/resources/static/*
data/demo
src/main/javascript/src/environment.js
src/main/javascript/.vs/*