<template>
	<header scroll_position.bind="scrollTop" scroll_fn.bind="scrollFn"></header>
	<section>
		<div class="container">
			<h1>Roles</h1>
			<div repeat.for="role of roles">
				<p>Name: <input type="text" value.two-way="role.roleName"/></p>
				<label>Privileges:</label>
				<label repeat.for="privilege of privileges">
					<input type="checkbox" model.bind="privilege" checked.bind="selectedPrivileges">
					Target: ${privilege.target}, Owner: ${privilege.owner}, Operation: ${privilege.operation}
				</label>
				<p>
					<button class="deleteButton" click.delegate="deleteInterest(role.roleName)">Delete</button>
					<button class="updateButton" click.delegate="updateInterest(role.roleName, role.privileges)">Update</button>
				</p>
			</div>
			<a route-href="route: add role">Add new Role</a>
			<a route-href="route: add privilege">Add new Privilege</a>
		</div>
	</section>
</template>
