<template>
	<header scroll_position.bind="scrollTop" scroll_fn.bind="scrollFn"></header>
	<section>
		<div class="container">
			<h1>Applications</h1>
			<p>Filter by:
				<select value.bind="statusFilter" change.trigger="getApplicationsByFilter()">
					<option value="all">ALL</option>
					<option repeat.for="status of statuses" value="${status}">${status}</option>
				</select>
			</p>
			<div if.bind="isStudent">
				<p>Put your student application display here!</p>
			</div>
			<div if.bind="isProf">
				<h4>Applications Requesting you as Supervisor</h4>
				<p if.bind="requested.length === 0">No applications at this time</p>
				<div  if.bind="requested.length > 0">
					<div repeat.for="application of requested">
						<p>
							${application.applicant.firstName} ${application.applicant.lastName}: ${application.degree} in ${application.department}
							<button click.delegate="toggleDetails(application.detailToggleId)">details</button>
						</p>
						<p>Status: ${application.status}</p>
						<p>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDFUNDING')">approve with funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDNOFUNDING')">approve no funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'DENIED')">deny</button>
							<button click.delegate="setApplicationStatus(application.id, 'SUBMITTED')">undo choice</button>
						</p>
						<div show.bind="application.showDetails">
							<p>Term: ${application.term.season} ${application.term.year}</p>
							<p>GPA: ${application.gpa}</p>
							<p>Resume: ${application.resumeFileName}</p>
							<p>Interests:</p>
							<ul>
								<li repeat.for="interest of application.applicant.interests">${interest.keyword}
							</ul>
						</div>
					</div>
				</div>
				<br/>
				<h4>Applications With Similar Interests</h4>
				<p if.bind="matchingInterests.length === 0">No applications at this time</p>
				<div  if.bind="matchingInterests.length > 0">
					<div repeat.for="application of matchingInterests">
						<p>
							${application.applicant.firstName} ${application.applicant.lastName}: ${application.degree} in ${application.department}
							<button click.delegate="toggleDetails(application.detailToggleId)">details</button>
						</p>
						<p>Status: ${application.status}</p>
						<p>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDFUNDING')">approve with funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDNOFUNDING')">approve no funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'DENIED')">deny</button>
							<button click.delegate="setApplicationStatus(application.id, 'SUBMITTED')">undo choice</button>
						</p>
						<div show.bind="application.showDetails">
							<p>Term: ${application.term.season} ${application.term.year}</p>
							<p>GPA: ${application.gpa}</p>
							<p>Resume: ${application.resumeFileName}</p>
							<p>Interests:</p>
							<ul>
								<li repeat.for="interest of application.applicant.interests">${interest.keyword}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div if.bind="isAdmin">
				<div repeat.for="application of requested">
					<p>
						${application.applicant.firstName} ${application.applicant.lastName}: ${application.degree} in ${application.department}
						<button click.delegate="toggleDetails(application.detailToggleId)">details</button>
					</p>
					<p>Status: ${application.status}</p>
					<div show.bind="application.showDetails">
						<p>Term: ${application.term.season} ${application.term.year}</p>
						<p>GPA: ${application.gpa}</p>
						<p>Resume: ${application.resumeFileName}</p>
						<p>Interests:</p>
						<ul>
							<li repeat.for="interest of application.applicant.interests">${interest.keyword}
						</ul>
					</div>
					<p>
						<button click.delegate="setApplicationStatus(application.id, 'APPROVEDFUNDING')">approved with funding</button>
						<button click.delegate="setApplicationStatus(application.id, 'APPROVEDNOFUNDING')">approved no funding</button>
						<button click.delegate="setApplicationStatus(application.id, 'DENIED')">deny</button>
						<button click.delegate="setApplicationStatus(application.id, 'INCOMPLETE')">incomplete</button>
						<button click.delegate="setApplicationStatus(application.id, 'SUBMITTED')">submitted</button>
						<button click.delegate="setApplicationStatus(application.id, 'PENDINGAPROVAL')">pending approval</button>
						<button click.delegate="setApplicationStatus(application.id, 'PENDINGREVIEW')">pending review</button>
						<button click.delegate="setApplicationStatus(application.id, 'PENDINGAPROVAL')">pending approval</button>
					</p>
				</div>
			</div>
		</div>
	</section>
</template>
