<template>
	<header scroll_position.bind="scrollTop" scroll_fn.bind="scrollFn"></header>
	<section>
		<div class="container">
			<h1>Applications</h1>
			<p if.bind="isProf">Filter by:
				<select value.bind="statusFilter" change.trigger="getApplicationsByFilter()">
					<option value="all">ALL</option>
					<option repeat.for="status of statuses" value="${status}">${status}</option>
				</select>
			</p>
			<div if.bind="isStudent">
				<a route-href="route: add application">Add new Application</a>
				<br/><br/>
				<p if.bind="applications.length === 0">No applications at this time</p>
				<div  if.bind="applications.length > 0">
					<div repeat.for="application of applications">
						<h4>${application.degree} in ${application.department}: ${application.term.season} ${application.term.year}</h4>
						<p>Status: ${application.status}</p>
						<p>GPA: ${application.gpa}</p>
						<p>Resume: ${application.resumeFileName}</p>
						<p>Requested Supervisors: <b if.bind="application.professors.length === 0">None</b></p>
						<ul if.bind="application.professors.length > 0">
							<li repeat.for="prof of application.professors">${prof.firstName} ${prof.lastName}
						</ul>
						<p>
							<button click.delegate="removeApplication(application.id)">Cancel Application</button>
						</p>
						<br/>
					</div>
				</div>
			</div>
			<div if.bind="isProf">
				<h4>Applications Requesting you as Supervisor</h4>
				<p if.bind="requested.length === 0">No applications at this time</p>
				<div  if.bind="requested.length > 0">
					<div repeat.for="application of requested">
						<p>
							${application.applicant.firstName} ${application.applicant.lastName}: ${application.degree} in ${application.department}
							<button click.delegate="toggleDetails(application.detailToggleId)">details</button>
						</p>
						<p>Status: ${application.status}</p>
						<p>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDFUNDING')">approve with funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDNOFUNDING')">approve no funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'DENIED')">deny</button>
							<button click.delegate="setApplicationStatus(application.id, 'SUBMITTED')">undo choice</button>
						</p>
						<div show.bind="application.showDetails">
							<p>Term: ${application.term.season} ${application.term.year}</p>
							<p>GPA: ${application.gpa}</p>
							<p>Resume: ${application.resumeFileName}</p>
							<p>Interests:</p>
							<ul>
								<li repeat.for="interest of application.applicant.interests">${interest.keyword}
							</ul>
						</div>
					</div>
				</div>
				<br/>
				<h4>Applications With Similar Interests</h4>
				<p if.bind="matchingInterests.length === 0">No applications at this time</p>
				<div  if.bind="matchingInterests.length > 0">
					<div repeat.for="application of matchingInterests">
						<p>
							${application.applicant.firstName} ${application.applicant.lastName}: ${application.degree} in ${application.department}
							<button click.delegate="toggleDetails(application.detailToggleId)">details</button>
						</p>
						<p>Status: ${application.status}</p>
						<p>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDFUNDING')">approve with funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'APPROVEDNOFUNDING')">approve no funding</button>
							<button click.delegate="setApplicationStatus(application.id, 'DENIED')">deny</button>
							<button click.delegate="setApplicationStatus(application.id, 'SUBMITTED')">undo choice</button>
						</p>
						<div show.bind="application.showDetails">
							<p>Term: ${application.term.season} ${application.term.year}</p>
							<p>GPA: ${application.gpa}</p>
							<p>Resume: ${application.resumeFileName}</p>
							<p>Interests:</p>
							<ul>
								<li repeat.for="interest of application.applicant.interests">${interest.keyword}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div if.bind="isAdmin">
				<p>Put your admin application display here!</p>
			</div>
		</div>
	</section>
</template>
