footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: #ebebeb;
	width: 100%;
	display: flex;

}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right:auto;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
}

.copyright {
	margin-left: auto;
}
