<template>
	<div class="footer">
		<!-- <img src="/assets/images/carleton-login-logo.svg" alt="" class="logo"/>  -->

		<a href="http://carleton.ca/privacy/policies/" target="_blank">Privacy Policies</a>
	</div>
	<div class="footer">
		<a href="http://carleton.ca/accessibility/" target="_blank">Accessibility</a>


	</div>
	<div class=" footer">
		<a href="mailto:crmsupport@carleton.ca?Subject=Support%20Request%20or%20Feedback">Support Request/Feedback</a>
	</div>

	<div class="copyright">
		Copyright - Carleton
	</div>
</template>
