<template>
	<div style="position: relative;bottom: 0;height: 50px;background-color: #ebebeb;width: 100%;display: flex;justify-content: space-between; align-items:center; font-weight: 700;">
		<a href="http://carleton.ca/privacy/policies/" target="_blank"> Privacy Policies</a>

		<a href="http://carleton.ca/accessibility/" target="_blank"> Accessibility</a>

		<a href="mailto:crmsupport@carleton.ca?Subject=Support%20Request%20or%20Feedback"> Support Request/Feedback</a>

		<div class="copyright">
			Copyright - Carleton University
		</div>
	</div>

</template>
