footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: #ebebeb;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: auto;

	.logo {
		width: 300px;
	}
}
