footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: #ebebeb;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer {
		<div style="position: absolute;bottom: 0;height: 100px;background-color: #ebebeb;width: 100%;display: flex;justify-content: space-between;	align-items: center;">
			<a href="http://carleton.ca/privacy/policies/" target="_blank">Privacy Policies</a>

			<a href="http://carleton.ca/accessibility/" target="_blank">Accessibility</a>

			<a href="mailto:crmsupport@carleton.ca?Subject=Support%20Request%20or%20Feedback">Support Request/Feedback</a>
		</div>
		<div class="copyright">
			Copyright - Carleton
		</div>
}

.copyright {
	margin-left: auto;
}


