<template>
    <nav>
        <div class="header">
            <div class="title">
                <img src="/assets/images/carleton-header-logo.svg" alt="" class="logo">
            </div>
            <div class="navigation">
                <a repeat.for="route of router.routes" if.bind="route.show" class="item ${route.navModel.isActive? 'active':''}" href.bind="route.route">
                    <span class="glyphicon ${route.icon} icon"></span>
                    ${route.title}
                </a>
            	<a href="#" if.bind="isSignedIn()" click.delegate="onSignOut()" class="item">
                    <span class="glyphicon glyphicon-lock icon"></span>
                    Logout
                </a>
			</div>
        </div>
    </nav>
</template>
