@import "resources/css-utils";

.header {
  background-color: $white;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  padding-top: 5px;
  border-bottom: 1px solid lightgrey;
  .header-title {
    font-family: inherit;
    font-size: x-large;
    font-weight: 600;
    color: $white;
    transition: opacity 0.3s ease-out 1.0s;
    display: flex;
    align-items: center;
    .logo {
      height: 80px;
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-out 1.0s;
    a {
      display: flex;
      height: fit-content;
      align-items: center;
      text-decoration: none;
      height: 100%;
      font-size: 18px;
      cursor: pointer;
      margin-right: 20px;
      color: rgba(0, 0, 0, 0.8);
      &.active {
        color: $red;
        border-bottom: 2px solid $red;
      }
      .icon {
        font-size: 15px;
        padding-right: 5px;
      }
    }
    .item:hover {
      color: $red;
    }
  }
  &.fixed {
    position: fixed;
    z-index: 5;
  }
}
