<template>
    <nav>
        <div class="header">
            <div class="title">
                <!-- <img src="/assets/images/logo.png" alt="" class="logo"> -->
                Graduate Admissions
            </div>
            <div class="navigation">
                <a repeat.for="route of router.routes" if.bind="route.show" class="item ${route.navModel.isActive? 'active':''} " href.bind="route.route">${route.title}</a>
            	<a href="#" if.bind="isSignedIn()" click.delegate="logout()">Logout</a>
			</div>
            
            <!-- <div class="navigation2 ${scroll_position > 90 && screenWidth > 500? 'opacity1':'remove no-display'}">
                <a repeat.for="route of router.routes" class="item ${route.navModel.isActive? 'active':''} " href.bind="route.route">${route.char}</a>
            </div> -->
        </div>
    </nav>
</template>
