@import "resources/components/header/header";
@import "pages/home/home";
@import "resources/css-utils";

.red {
  color: $red;
}

body {
  line-height: 24px;
  font-size: 14px;
  // font-family: "Lato", sans-serif;
  font-weight: normal;
  
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  color: $dark-grey;
  background-color: $off-white !important;
}

a {
  text-decoration: none !important;
}